*{
    font-family: 'Montserrat';
    color: white;
    
}

html, body{
    display: flex;
    width: 100%;
    height: 100%;  

    justify-content: center;
    align-items: center;
}

.tamanho {
    display: flex;
    width: 35%;
    height: fit-content;

    position: absolute;
    z-index: 1;
}

.fundo {
    border-radius: 5%;
    background-image: url(../Car-Station-Home-page-hero-2_result.jpg);
    background-size: cover;
    width: 100%;
    height: fit-content;
 }

.caixa {
    width: 100%;
    height: 100%;
    padding: 5% 5% 3% 5%;
    border-radius: 5%;
    backdrop-filter: blur(30px);
}

.caixa label {
    padding-top: 2%;
    font-weight: 500;
    font-size: 18px;
}

.caixa legend {
    font-weight: 600;
    font-size: 24px;
}

.caixa button {
    background-color: #22E688;
    color: #491D66;
    font-weight: 600;
    border: none;
}

.caixa button:hover{
    background-color: #491D66;
    color: #22E688;
}

.caixa button:active{
    background-color: #240638 !important;
    color: #22E688 !important;
    transform: scale(0.98);
}


.caixa input{
    border: none;
    transition-duration: 0.3s;
}

.caixa input:focus {
    box-shadow: 0 0 10px #22E688;  
}

.caixa input:hover{
    opacity: 85%;
}

@media only screen and (max-width:1024px) {

    .tamanho{
        width: fit-content;
        height: fit-content;
    } 

    .caixa{
        border-radius: 0%;
    }
}