body{
    font-family: montserrat;
    background: linear-gradient(to top, #622F84, #B27FC8);
    

    text-align: center;
}
#pesquisa{
    width: 510px;
    height: 45px;
    border: 1px solid white;
    margin: 42px auto 461px auto;
}

#divona{
    display: flex;
    flex-direction: row;
    
    
}
#divinha{
    display: flex;
    flex-direction: row;
    
    
}


#posts{
    width: 325px;
    height: 325px;
    background-color: #622F84;
    display: inline-block;
    margin-right: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    flex-direction: column;
}

#posts img{
    margin-top: 10px;
    width: 280px;
    height: 200px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f2ebd5;

}

#paginacao{
    border: goldenrod;
}