html,body{
width: 100%;
height: 100%;

}
body{
background-image: url('../assets/imagens/carros.jpg');

}
.card-title{
    margin-top: 2%;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(70px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 50px;
    color: #F2EBD5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-table {
    margin-top: 5%;
    width: 100%;
    height: fit-content;
    backdrop-filter: blur(70px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 50px;
}
.tabela{
    width: 100%;
}

tr{
    width: 100%;
}

td{
    
    height: 9vh;
    color: #F2EBD5;
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    
    
}
.td1{
    border-left: 1px solid;
    width: 8%;
}

.td2{
    width: 62%;
    border-left: 1px solid;
    border-right: 1px solid;
}
.td3{
    width: 30%;
    border-right: 1px solid;

}
.modal-footer{
    justify-content: flex-start !important ;

}
.button-modal{
    background-color: #22E688;
    color: #240638;
    border: 1px solid #240638;
}


@media screen and (max-width: 1200px) and (min-width: 1000px) {
    .btn{
        margin: 1.5% 15% 1.5% 15%;
    }
}

@media screen and (max-width: 1000px) {
    .pc{
        display: none;
    } 
  
   td{
   
    height: 12vh;
   
   }
   .btn{
    margin: 2%;
   }
   
 
}
@media screen and (min-width: 1001px) {
    .mobile{
        display: none;
    
    }

}

@media screen and (max-width: 768px) and (min-width: 420px){

.btn{
    margin: 3% 10% 3% 10%;
}
    
}
@media screen and (max-height: 1400px) and (min-height: 1100px) {
body{
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}
    
}

