body {
    background: rgb(36,6,56);
    background: linear-gradient(90deg, rgba(36,6,56,1) 0%, rgba(37,105,91,1) 35%, rgba(37,130,100,1) 44%, rgba(37,151,108,1) 56%, rgba(38,230,136,1) 100%);
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;
    
    }
    
    
    .area-foto{
        
        height: 100vh;
        width: 45%;
        display: flex;
        align-items: center;
    }
    
    .imagem {
        width: 100%;
        height: auto;
    }
    
    .area-login {
        
        display: flex;
        justify-content: right;
        align-items: center;
        height: 100vh;
        justify-content: right;
        align-items: center;
        width: 45%;
    
    }

    .login{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        background-color: #B27FC8;
        width: 355px;
        height: 320px;
        padding: 35px;

    }

    .login form{
        display: flex;
        width: 100%;
        flex-direction: column;

    }

    .login input{
        
        margin-top: 10px;
        background: #3F1859;
        padding-left: 10px;
        color: #22E688;
        border: none;
        height: 45px;
        outline: none;
        border-radius: 8px;
        
    }
    /* .lnr-eye {
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
    } */
    .login button {
        margin-top: 10px;
        background: #3F1859;
        padding-left: 10px;
        color: #22E688;
        border: none;
        height: 45px;
        outline: none;
        border-radius: 8px;
    }

    .login img {

        width: 100px;
        height: auto;   
    }

    input::placeholder{
    color: #22E688;
        font-size: 14px;
       

    }
    form [type="submit"]{
            display: block;
            background-color: #26E688;
            color: #240638;
            font-size: 20px;
       
            font-weight: bold;
            cursor: pointer;


    }

    .area-global{
        display: flex;
        justify-content: center;
    }
    

   .login i{
    position: absolute;
    
    top: 54.5%;
    right: 9%;
    cursor: pointer;
   }
    .password {
        position: relative;

    }

    @media only screen and (max-width:1024px)  {
        .area-foto{
            display: none; 
        }
        .area-login{
            width: 100%;
            justify-content: center;
        }
        .login {
            width:50%;
        height: 25%;
        }
        
    }

    @media only screen and (max-width: 375px) and (max-height:667px){
        .login i{
          
        }

        body{
            display: none;
        }
    }