*{
    font-family: 'Montserrat';
   color: white;
    
}

html, body {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.filtro{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    display: none;
    z-index: 1050;

}

.tamanho {
    display: none;
    width: 40%;

    position: absolute;
    z-index: 1051;

    animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@keyframes scale-in {
    0% {
            transform: scale(0);
    }
    100% {
            transform: scale(1);
    }
}

.fundo {
   border-radius: 5%;
   background-image: url('../assets/imagens/Car-Station-Home-page-hero-2_result..jpg');
   background-size: cover;
   width: fit-content;
   height: fit-content;
}

.caixa {
    width: 100%;
    height: 100%;
    padding: 3% 4% 3% 4%;
    border-radius: 5%;
    backdrop-filter: blur(30px);
}

.caixa #descr{
    max-height: 100px;
    min-height: 150px;
}

#descr textarea {
    max-height: 140px;
    min-height: 85px;
}

.caixa legend {
    font-weight: 600;
    font-size: 20px;
}

.caixa label {
    margin-top: 2%;
    font-weight: 500;
    font-size: 16px;
}

#botao {
    display: flex;
    flex-direction: row-reverse;
    padding: 8px;
}

.caixa button {
    background-color: #22E688;
    color: #491D66;
    font-weight: 600;
    border: none;
    margin-left: 10px;
}

.caixa button:hover{
    background-color: #491D66;
    color: #22E688;
}

.caixa button:active{
    background-color: #240638 !important;
    color: #22E688 !important;
    transform: scale(0.98);
}

.caixa input{
    border: none;
    transition-duration: 0.3s;
}

.caixa input:focus {
    box-shadow: 0 0 10px #22E688;  
}

.caixa input:hover, textarea:hover{
    opacity: 85%;
}

.caixa textarea{
    border: none;
    transition-duration: 0.3s;
}

.caixa textarea:focus{
    box-shadow: 0 0 10px #22E688;  
}

#visualizar p{
    background-color: #FFFFFF;
    color: black;
    border-radius: 5px;
    padding-left: 3px;
}

.caixa img{
    width: 150px;
    height: 140px;
    display: block;
    border-radius: 7px;
}

#visualizar .fundo {
    border-radius: 5%;
    background-image: url('../assets/imagens/Car-Station-Home-page-hero-2_result..jpg');
    background-size: cover;
    width: 90%;
    height: 10%;
 }


@media only screen and (max-width:1024px) {

    .tamanho{
        width: 90%;
    } 

    .caixa{
        border-radius: 0%;
    }

    .caixa legend {
        font-size: 18px;
    }

    .caixa label {
        font-size: 14px;
    }
}