html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#fundo {
background: linear-gradient(0deg, #240638 0.16%, #66119E 99.84%);
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1; 
}

#container {
margin-left: 5%;
margin-top: 5%;
}

#perfil {
    display: flex;
}

#perfil img{
    width: 7.2%;
    max-width: 102px;
    border-radius: 50%;
}

#perfil p{
    display: flex;
    margin-top: 0%;
    padding-left: 2%;
    display: flex;
}

.name{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 20px;    
    font-weight: 400; 
}

.data_hora{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 100;
}

#postagem {
    margin-top: -5%;
    width: 90%;
}

.titulo {
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 700;

    padding-left: 10%;
}

.post {
    overflow: hidden;
}

.descricao {

    color: #FFF;
    text-align: justify;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 300;
    margin: 0;

    padding-left: 10%;
}

.post img {   
    
    shape-outside: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    float: right;
    margin-left: 2%;
    border-radius: 10px;

    max-width: 40%;
}


@media only screen and (max-width: 767px) {

#perfil img {
    width: 8%;
    max-width: 102px;
    margin-left: 2%;
}
.name, .data_hora {
    font-size: 10px;
    padding-top: 2%;
    padding-left: 2%;
}
.titulo {
    display: flex;
    padding-left: 0%;
    margin-top: 10%;
    font-size: 18px;
    padding-top: 20px;
}

.descricao {
    font-size: 15px;
    width: 100%;
    padding-left: 0;
    padding-top: 0px;
}
#postagem {
    padding-left: 2%;
    margin-top: -40px;
}

.post {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.post img {
    border-radius: 10px;
    margin-bottom: 30px;
    max-width: 100%;
}

}

@media only screen and (min-width: 600px) and (max-width: 1024px) {

    #perfil img {
        width: 6%;
        max-width: 102px;
        margin-left: 2%;
    }
    .name, .data_hora {
        font-size: 15px;
        padding-top: 2%;
        padding-left: 2%;
    }
    .titulo {
        display: flex;
        padding-left: 0%;
        margin-top: 8%;
        font-size: 24px;
        padding-top: 0px;
    }
    
    .descricao {
        font-size: 20px;
        width: 100%;
        padding-left: 0;
        padding-top: 0px;
    }
    #postagem {
        padding-left: 2%;
        margin-top: -40px;
    }
    
    .post {
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    
    .post img {
        border-radius: 10px;
        margin-bottom: 30px;
        max-width: 80%;
    }
}
