<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LandingPage</title>

    <link rel="stylesheet" href="/public/css/landingPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container1">
        <h1> FIQUE POR DENTRO DO MELHOR DO MUNDO DOS CARROS. </h1>
        <h2> Você está a um clique de distância do que há de melhor. </h2>
        <a href="#">Saiba Mais</a>
    </div>

    <div class="container2">

        <div class="post">
            <div class="descricao">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, est.
            </div>
            <div class="imagemCar">
                <img src="/public/assets/By my car-amico (1).svg" alt="carro do post 2">
            </div>
            <div class="usuario">
                <div class="esp">
                    <img src="/public/assets/profile-default-svgrepo-com.svg" alt="usuário 1">
                    <h1>Nome do Usuário</h1>
                </div>
                <p>Paixão automotiva: O Ford Mustang</p>
            </div>
            
        </div>

        <div class="post">
            <div class="imagemCar">
                <img src="/public/assets/By my car-amico (1).svg" alt="carro do post 2">
            </div>
            <div class="usuario">
                <div class="esp">
                    <img src="/public/assets/profile-default-svgrepo-com.svg" alt="usuário 1">
                    <h1>Nome do Usuário</h1>
                </div>
                <p>Tesla Model 3: Eletrizante!</p>
            </div>
        </div>

        <div class="post">
            <div class="imagemCar">
                <img src="/public/assets/By my car-amico (1).svg" alt="carro do post 2">
            </div>
            <div class="usuario">
                <div class="esp">
                    <img src="/public/assets/profile-default-svgrepo-com.svg" alt="usuário 1">
                    <h1>Nome do Usuário</h1>
                </div>
                <p>Paixão automotiva: O Ford Mustang</p>
            </div>
        </div>

        <div class="post">
            <div class="imagemCar">
                <img src="/public/assets/By my car-amico (1).svg" alt="carro do post 2">
            </div>
            <div class="usuario">
                <div class="esp">
                    <img src="/public/assets/profile-default-svgrepo-com.svg" alt="usuário 1">
                    <h1>Nome do Usuário</h1>
                </div>
                <p>Paixão automotiva: O Ford Mustang</p>
            </div>
        </div>

        <div class="post">
            <div class="imagemCar">
                <img src="/public/assets/By my car-amico (1).svg" alt="carro do post 2">
            </div>
            <div class="usuario">
                <div class="esp">
                    <img src="/public/assets/profile-default-svgrepo-com.svg" alt="usuário 1">
                    <h1>Nome do Usuário</h1>
                </div>
                <p>Paixão automotiva: O Ford Mustang</p>
            </div>
        </div>
    </div>

</body>
</html>