<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velocity 8</title>
    <link rel="stylesheet" href="/public/css/listaDePosts.css">
</head>
<body>

    <div id="pesquisa">
        
    </div>

    <div id="divona">

        <div id="posts">
            <img src="/By my car-amico (1).svg" alt="carro do post 1">
        </div>

        <div id="posts">
            <img src="/By my car-rafiki.svg" alt="carro do post 2">
        </div>

        <div id="posts">
            <img src="/post 3.svg" alt="carro do post 3">
        </div>
    </div>
    
    <div id="divinha">
        <div id="posts">
            <img src="/By my car-amico (1).svg" alt="carro do post 4">
        </div>

        <div id="posts">
            <img src="/By my car-rafiki.svg" alt="carro do post 5">
        </div>

        <div id="posts">
            <img src="/post 3.svg" alt="carro do post 6">
        </div>

    </div>

    <div id="paginacao">
        
    </div>

</body>
</html>

