<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velocity 8</title>
    <link rel="stylesheet" href="/public/css/listaDePosts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>

    <div class="pesquisa">
        <i class="fa-solid fa-magnifying-glass"></i>
        <div id="img-txt">
            <img src="/search.svg" alt="search">
            <h1>Insira o título aqui</h1>
        </div>
        
    </div>

    <div class="divona">

        <div class="posts">
            <img src="/By my car-amico (1).svg" alt="carro do post 1">
            <div class="usuario">
                <span> <img src="/usuário1.svg" alt="usuário 1"> </span>
                <h1>Nome do Usuário</h1>
            </div>
            <p>Paixão automotiva: O Ford Mustang</p>
            <p class="desc">
                Descubra a emoção de dirigir o lendário Ford Mustang, onde a paixão automotiva ganha vida em cada curva da estrada.
            </p>

        </div>

        <div class="posts">
            <img src="/By my car-rafiki.svg" alt="carro do post 2">
            <div class="usuario">
                <span> <img src="/usuario2.svg" alt="usuário 2"> </span>
                <h1>Nome do Usuário</h1>
            </div>
            <p>Tesla Model 3: Eletrizante!</p>

        </div>

        <div class="posts">
            <img src="/post 3.svg" alt="carro do post 3">
            <div class="usuario">
                <span> <img src="/usuario3.svg" alt="usuário 3"> </span>
                <h1>Nome do Usuário</h1>
            </div>
            <p>O Ford Mustang: Paixão em ação</p>

        </div>
    </div>

    <div class="divona">

        <div class="posts">
            <img src="/By my car-amico (1).svg" alt="carro do post 4">
            <div class="usuario">
                <span> <img src="/usuario2.svg" alt="usuário 4"> </span>
                <h1>Nome do Usuário</h1>
            </div>
            <p>Perfeição sobre rodas: O BMW Série 3</p>

        </div>

        <div class="posts">
            <img src="/By my car-rafiki.svg" alt="carro do post 5">
            <div class="usuario">
                <span> <img src="/usuario3.svg" alt="usuário 5"> </span>
                <h1>Nome do Usuário</h1>
            </div>
            <p>Condução imbatível: O Chevrolet</p>

        </div>

        <div class="posts">
            <img src="/post 3.svg" alt="carro do post 6">
            <div class="usuario">
                <span> <img src="/usuario3.svg" alt="usuário 6"> </span>
                <h1>Nome do Usuário</h1>
            </div>
            <p>O Toyota Prius: Insuperável</p>

        </div>

    </div>

    <div class="paginacao">
        <div class="quadradinhos">
            <a href="#">1</a>
        </div>

        <div class="quadradinhos">
            <a href="#">2</a>
        </div>

        <div class="quadradinhos">
            <a href="#">3</a>
        </div>
        
        <div class="quadradinhos">
            <a href="#">4</a>
        </div>
        
    </div>

</body>
</html>

