<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V8 - Lista de Posts</title>
    <link rel="stylesheet" href="/public/css/listaDePosts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500;600;700&family=Khula:wght@400;600&display=swap" rel="stylesheet">


</head>
<body>

    <div class="search-box">
        <input type="text" class="search-txt" placeholder="Qual título você quer pesquisar?">
        <img src="/search.svg" alt="Lupa" class="search-bton" >
    </div>

    <div class="divona">

        <div class="posts">
            <img src="/By my car-amico (1).svg" alt="carro do post 1">
            <div class="usuario">
                <span> <img src="/usuario3.svg" alt="usuário 1"> </span>
                <h1>Nome do Usuário</h1>
            </div>
            <p>Paixão automotiva: Ford Mustang</p>
            <p class="desc">
                Descubra a emoção de dirigir o lendário Ford Mustang...
            </p>

        </div>

        <div class="posts">
            <img src="/By my car-rafiki.svg" alt="carro do post 2">
            <div class="usuario">
                <span> <img src="/usuario2.svg" alt="usuário 2"> </span>
                <h1>Nome do Usuário</h1>
            </div>
            <p>Tesla Model 3: Eletrizante!</p>
            <p class="desc">
                Descubra a emoção de dirigir o lendário Tesla Model 3...
            </p>

        </div>

        <div class="posts">
            <img src="/post 3.svg" alt="carro do post 3">
            <div class="usuario">
                <span> <img src="/usuario3.svg" alt="usuário 3"> </span>
                <h1>Nome do Usuário</h1>
            </div>
            <p>O Ford Mustang: Paixão em ação</p>
            <p class="desc">
                Descubra a emoção de dirigir o lendário Ford Mustang...
            </p>

        </div>
    </div>

    <div class="divinha">

        <div class="posts">
            <img src="/By my car-amico (1).svg" alt="carro do post 4">
            <div class="usuario">
                <span> <img src="/usuario2.svg" alt="usuário 4"> </span>
                <h1>Nome do Usuário</h1>
            </div>
            <p>Perfeição sobre rodas: BMW Série</p>
            <p class="desc">
                Descubra a emoção de dirigir a lendária BMW Série...
            </p>

        </div>

        <div class="posts">
            <img src="/By my car-rafiki.svg" alt="carro do post 5">
            <div class="usuario">
                <span> <img src="/usuario3.svg" alt="usuário 5"> </span>
                <h1>Nome do Usuário</h1>
            </div>
            <p>Condução imbatível: O Chevrolet</p>
            <p class="desc">
                Descubra a emoção de dirigir o lendário Chevrolet...
            </p>

        </div>

        <div class="posts">
            <img src="/post 3.svg" alt="carro do post 6">
            <div class="usuario">
                <span> <img src="/usuario3.svg" alt="usuário 6"> </span>
                <h1>Nome do Usuário</h1>
            </div>
            <p>O Toyota Prius: Insuperável</p>
            <p class="desc">
                Descubra a emoção de dirigir o lendário Toyota Prius...
            </p>

        </div>

    </div>

    
<!--   <div class="paginacao">
        <div class="maiormenor">
        <a href="#"><</a>
        </div>
        <div class="quadradinhos">
            <a href="#">1</a>
        </div>

        <div class="quadradinhos">
            <a href="#">2</a>
        </div>

        <div class="quadradinhos">
            <a href="#">3</a>
        </div>
        
        <div class="quadradinhos">
            <a href="#">4</a>
        </div>
        <div class="maiormenor">
            <a href="#">></a>
        </div>
        
    </div>
-->

</body>
</html>

