<!DOCTYPE html>
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="../../../public/css/login.css">
<title>Login</title>

</head>
<body>
<section class="area-global">
    <selection class="area-foto">
        <div class="foto">
        
        </div> 
        <div>
            <img class="imagem" src="../../../public/assets/imagens/fundobranco.png">
        </div>
            
        
    </selection>
        
    
   <selection class="area-login">
        <div class="login">  
            <div>
                <img src="../../../public/assets/imagens/logo.png">
            </div>

            <form method="POST">
                <input type="text" name="nome" placeholder="E-mail:" autofocus>
                    <input type="text" name="password" placeholder="Senha:"> 
                <button type="submit">Entrar</button>
            </form>
        </div>
    </selection>

</section>


</body>

</html>