<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Velocity 8</title>
    <link rel="stylesheet" href="/public/css/navbar.css" />
  </head>
  <body>
    <div id="NAV">
      <div id="logo">
        <a href="#"> <img src="/public/assets/logo1.png" alt="" /></a>
        <ul>
          <li>
            <a href="#"> <img src="/public/assets/home bege 1.png" alt="" /></a>
          </li>
          <li>
            <a href="#"> <img src="/public/assets/posts bege 1.png" alt="" /></a>
          </li>
          <li>
            <a href="#"> <img src="/public/assets/lupa bege 1.png" alt="" /></a>
          </li>
        </ul>
        <a id="login" href="#">Log-in</a>
      </div>
      
      <div id="navigation"></div>
    </div>
  </body>
</html>
