<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="../../../public/css/vdpi.css">
</head>
<body>

    <div id="container">
        <div id="fundo"></div>
        <div id="perfil">
            <img src="../../../public/assets/Image.svg" alt="">
            <p class="name">Matheus_Menezes</p>
            <p class="data_hora">14/02/2024 - 14:30</p>
        </div>

        <div id="postagem">
            <p class="titulo">Conheça o Revuelto</p>
            <p class="descricao">
                Pouco antes do 60º aniversário da marca, a Lamborghini revelou o Revuelto, o primeiro superesportivo híbrido HPEV (Veículo Eletrificado de Alto Desempenho). 
                Com o Revuelto, a Lamborghini estabeleceu uma nova referência em desempenho, tecnologia de bordo e prazer de condução. 
                A emoção máxima proporcionada pelo Revuelto é alcançada graças a um trem de força que entrega 1.015 CV no total, combinando a potência 
                de um novíssimo motor de combustão interna de 12 cilindros com três motores elétricos de alta densidade e uma inovadora caixa de câmbio 
                transversal de dupla embreagem eletrônica. O poder da hibridização é aproveitado para elevar o desempenho e impulsionar as emoções a um 
                nível sem precedentes.
        </div>

        <div class="imagem">
                <img src="../../../public/assets/image 3.svg" alt=""> 
        </div>

    </div>
</body>
</html>