<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="../../../public/css/vdpi.css">
</head>
<body>
    <div id="container">
        <div id="perfil">
            <img src="../../../public/assets/Image.png" alt="">
            <p class="name">Matheus_Menezes</p>
            <p class="data_hora">14/02/2024-14:30</p>
        </div>

        <div id="postagem">
            <p class="titulo">Fatos Interessantes sobre Lorem</p>
            <p class="descricao">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris egestas dui ligula, et tempor magna convallis in. 
                Nunc ultrices leo lorem, eget aliquam arcu venenatis in. Phasellus placerat, diam vitae rhoncus dictum, tortor nisl tincidunt sapien, 
                non venenatis lacus ex id elit. Sed porttitor magna magna, eget volutpat ex congue id. Nulla lobortis dictum mauris, non eleifend magna pulvinar eu. 
                In et porta est. Duis auctor lacinia lorem et auctor. Etiam varius justo vitae accumsan facilisis.
        </div>

        <div id="imagem">
                <img src="../../../public/assets/image 3.png" alt=""> 
        </div>
    </div>
</body>
</html>