<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V8 - Visualização de Post Individual</title>
    <link rel="stylesheet" href="../../../public/css/vdpi.css">
</head>
<body>

    <div id="container">
        <div id="fundo"></div>
        <div id="perfil">
            <img src="../../../public/assets/Image.svg" alt="">
            <p class="name">Matheus_Menezes</p>
            <p class="data_hora">14/02/2024 - 14:30</p>
        </div>

        <div id="postagem">
            <p class="titulo">Conheça o Revuelto</p>
            <div class="post">
                <img src="https://images-ext-1.discordapp.net/external/n7bOWsq0RLsswJWW3lezlBg0ToTHYLiFmHdBx5bZEeI/%3Fcrop%3D0.442xw%3A0.260xh%3B0.490xw%2C0.471xh%26resize%3D980%3A%2A/https/hips.hearstapps.com/hmg-prod/images/2024-mazda-mx-5-miata-rear-three-quarters-gray-65b3c9d00d96d.jpg?format=webp&width=1080&height=662" alt="">
                
                <p class="descricao">
                    Pouco antes do 60º aniversário da marca, a Lamborghini revelou o Revuelto, o primeiro superesportivo híbrido HPEV (Veículo Eletrificado de Alto Desempenho). 
                    Com o Revuelto, a Lamborghini estabeleceu uma nova referência em desempenho, tecnologia de bordo e prazer de condução. 
                    A emoção máxima proporcionada pelo Revuelto é alcançada graças a um trem de força que entrega 1.015 CV no total, combinando a potência 
                    de um novíssimo motor de combustão interna de 12 cilindros com três motores elétricos de alta densidade e uma inovadora caixa de câmbio 
                    transversal de dupla embreagem eletrônica. O poder da hibridização é aproveitado para elevar o desempenho e impulsionar as emoções a um 
                    nível sem precedentes. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis officiis quam accusamus consectetur commodi vero quis placeat, amet quia maiores laborum, provident repellat. Nemo qui eveniet ducimus illum harum officia!

                </p>
            </div>
        </div>
    </div>
</body>
</html>